/* .input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  border-bottom: 1px solid var(--dark-line);
  margin-bottom: 16px;

  .input {
    height: 64px;
    border-radius: 4px;
    border: none;
    padding: 24px 16px 4px 16px;
    font-size: 16px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 23px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 16px;
  }

  .error {
    color: #db4437;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 4px;
  }

  &.filled label,
  .input:focus-within label {
    transform: translate(0, 12px) scale(0.8);
  }

  .input:focus {
    box-shadow: 0 0 0 2px #79b1ff;
  }
} */

/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  /* height: 65px; */
  border-bottom: 1px solid var(--dark-line);

}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  /* color: #0a53e4; */
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 35px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 6px;
}

.input-container input {
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

/* .input-container input:focus {
  box-shadow: 0 0 0 2px #79b1ff;
} */
