/* Diseño principal con GRID dividido en X columnas y en cada componente especificar el lugar que ocupa */

body {
  min-height: 100vh;
  background-color: var(--bg-main-color);
  margin: 0 auto;
}

#root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  font-family: var(--main-font);
}

button {
  width: 100%;
  background-color: var(--orange-color);
  height: 35px;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  color: var(--bg-white-color);
  cursor: pointer;
  margin: 20px 0;

}