/* Diseño principal con GRID dividido en X columnas y en cada componente especificar el lugar que ocupa */

body {
  background-color: var(--bg-main-color);
  margin: 0 auto;
}

#root{
  font-family: var(--main-font);
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "user"
    "navbar"
    "main"
    "post"
    "aside"
    "footer";
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "user main"
      "navbar main"
      "navbar post"
      "aside ."
      "footer footer";
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "user main main aside"
      "navbar post post . "
      " . post post . "
      "footer footer footer footer";
  }
}

button {
  width: 100%;
  background-color: var(--orange-color);
  height: 35px;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  color: var(--bg-white-color);
  cursor: pointer;
  margin: 20px 0;
}
