/* Diseño principal con GRID dividido en X columnas y en cada componente especificar el lugar que ocupa */

body {
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  /* place-items: center; */
  min-height: 100vh;
  background-color: var(--bg-main-color);
  font-family: var(--main-font);
  max-width: 1280px;
}
