.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary-color);
  color: var(--primary-font-color);
  border-radius: 6px;
  margin: 0;
  padding: 1rem;
  gap: 1rem;
}

.user_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.user_img {
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.user_info_container {
  display: flex;
  flex-direction: column;
}

.user_info {
  margin: .5rem 0;
  text-align: start;
}

.button_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 45%;
}