.message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-secondary-color);
  color: var(--primary-font-color);
  padding: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.message_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-main-color);
  color: var(--primary-font-color);
  border-radius: 6px;
  height: 400px;
  overflow-y: scroll;
}

.message_container::before {
  content: "";
  flex-grow: 1;
}

.unread {
  border: 1px solid var(--orange-color);
}

.settings_container {
  background-color: var(--bg-secondary-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.settings_info {
  border-left: 2px solid var(--orange-color);
  display: flex;
  flex-direction: column;
}

.settings_info p {
  margin-left: 1rem;
}

.settings_info span {
  margin: 1rem;
}

@media (min-width: 768px) {
  .settings_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-secondary-color);
  padding: 1rem;
  border: 2px solid var(--bg-main-color);
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal_buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}


/* styles for toggle */
label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle_icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--orange-color);
  transition: 0.3s;
  border-radius: 30px;
}

.toggle_icon:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .toggle_icon {
  background-color: #00c853;
}

input:checked + .toggle_icon:before {
  transform: translateX(29px);
}