.button {
  border: 1px solid;
  border-radius: 6px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  width: fit-content;
  align-self: center;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--light-orange);
  color: var(--dark-color);
  border-color: var(--light-orange);
}

.primary,
.primary-small,
.primary-large,
.secondary,
.secondary-small,
.alternative {
  font-size: .9rem;
  border-radius: 6px;
}

.primary,
.primary-small,
.primary-large {
  background-color: var(--orange-color);
  border-color: var(--orange-color);
  color: var(--white-color);
}

.primary-small {
  padding: 0.2rem 0.6rem;
}

.primary-large {
  width: 100%;
  margin: 20px 0;
}

.secondary,
.secondary-small {
  background-color: var(--bg-main-color);
  border-color: var(--orange-color);
  color: var(--dark-color);
}

.secondary-small {
  padding: 0.2rem 0.6rem;
}

.alternative {
  border-color: var(--light-orange);
  min-width: 40%;
  text-align: center;
  background-color: var(--light-orange);
  color: var(--dark-color);
  padding: 0.2rem 0.6rem;
}

.alternative:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
  border-color: var(--orange-color);
}

.cookies:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
  border-color: var(--orange-color);
}