.form {
  background-color: var(--white-color);
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.imageContainer {
  position: relative;
  display: inline-block;
}

.userImage {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.editButton {
  position: absolute;
  bottom: 85%;
  left: 45%;
  background-color: var(--orange-color);
  color: var(--dark-color);
}

.inputContainer {
  width: 100%;
  display: flex;
}

.inputConfirmContainer {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-bottom: 10px;
}
.label {
  background-color: var(--bg-main-color);
  align-self: center;
  border: 1px solid var(--orange-color);
  border-right: 0;
  padding: 10px;
  border-radius: 4px 0px 0px 4px;
  border-color: var(--light-orange);
}

.input {
  background-color: var(--bg-main-color);
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--light-orange);
  border-radius: 4px;
}
.errors_display {
  color: tomato;
  font-size: x-small;
  margin: 3px 0;
}
.selectorContainer {
  background-color: var(--white-color);
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.perfilButton.active {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.perfilButton {
  padding: 10px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  color: black;
  border: 1px solid var(--light-orange);
}

.bottomButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
