.form {
  background-color: var(--bg-secondary-color);
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.userImage {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.editButton {
  position: absolute;
  bottom: 85%;
  left: 45%;
  background-color: var(--orange-color);
  color: var(--primary-font-color);
}

.inputContainer {
  color: var(--primary-font-color);
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.inputConfirmContainer {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-bottom: 10px;
}

.label {
  background-color: var(--bg-main-color);
  align-self: center;
  border: 1px solid var(--orange-color);
  padding: 10px; 
  border-radius: 6px 0px 0px 6px;
  border-color: var(--light-orange);
}

.input {
  background-color: var(--bg-main-color);
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--light-orange);
  border-radius: 6px;

}
.errors_display {
  display: flex;
  color: tomato;
  font-size: x-small;
  flex-direction: column;
  align-items: center;
}

.selectorContainer {
  background-color: var(---color);
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}
  
.perfilButton.active {
  background-color:var(--orange-color);
  color: var(--btn-main-color);
  border-color: var(--orange-color);
}

.perfilButton {
  padding: 10px;
  border: 1px solid var(--light-orange);
  border-left: 0px;
  border-radius: 6px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  color: var(--primary-font-color);
}

.bottomButtonContainer {
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
}
