.form {
    background-color: var(--white-color);
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .imageContainer {
    position: relative;
    display: inline-block;
  }

  .userImage {
    
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .editButton {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 50%; /* Hace que el botón tenga la forma del círculo */
    cursor: pointer;
    clip-path: circle(50% at 50% 50%); /* Recorta el botón para que tenga la forma del círculo */
  }
  
  
  
  .inputContainer {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    
  }

  .inputConfirmContainer {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
    
  }
  .label {
    background-color: var(--bg-main-color);
    font-size: 20px;
    align-self: center;
    border: 1px solid var(--orange-color);
    padding: 10px; 
    border-radius: 8px;
    border-color: var(--light-orange);
  }
  
  .input {
    background-color: var(--bg-main-color);
    flex-grow: 1;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid var(--light-orange);
    border-radius: 4px;

  }
  
  .selectorContainer {
    background-color: var(--white-color);
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    
  }
    
  .perfilButton.active {
    background-color:var(--orange-color);
    color:var(--white-color);
  }

  .perfilButton {
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    flex-grow: 1;
    margin: 1px;
    text-align: center;
    color: black;
    border: 1px solid var(--light-orange);
  }
  
 
  
.bottomButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}