.footer {
  grid-area: footer;
  background-color: var(--bg-secondary-color);
  color: var(--primary-font-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


