.header {
  grid-area: header;
  background-color: var(--bg-secondary-color);
  color: var(--primary-font-color);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_container {
  padding: 0 2rem;
  flex: 1;
}

.title {
  font-size: 2rem;
}

.search_container {
  position: relative;
  flex: 2;
}

.search_form {
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: inherit;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1.5px solid transparent;
  border-bottom: 1px solid var(--orange-color);
}

.search:focus {
  border-bottom: 1.5px solid var(--orange-color);
  outline: none;
}

.search::placeholder {
  color: var(--placeholder-color);
}

.search_button {
  color: var(--primary-font-color);
  position: absolute;
  font-size: 1rem;
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.notifications_container {
  padding: 0.5rem 2rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 3rem;
}

.search_results {
  position: absolute;
  width: 100%;
  z-index: 11;
  background-color: var(--bg-secondary-color);
}

.search_results li a{
  margin-inline: 1rem;
  display: flex;
  align-items: center;
}

.search_results img {
  width: calc(50.5px - 1rem);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--light-orange);
  margin-right: 1rem;
}
