.navbar {
  grid-area: navbar;
  background-color: var(--bg-secondary-color);
  color: var(--primary-font-color);
  border-radius: 6px;
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

}



@media (min-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: unsafe;
  }
}
