.navbar {
  grid-area: navbar;
  background-color: var(--bg-secondary-color);
  border-radius: 6px;
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navbar li {
  width: 100%;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}

.icon {
  color: var(--btn-main-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}