.navitem {
  list-style: none;
  color: var(--primary-font-color);
}

.navitem a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navitem svg {
  margin-right: 0.5rem;
  align-self: center;
}
